@import "modules/loader";
@import "modules/bs-callout";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
}

.title-panel {
  border-bottom: 1px solid #1f74b6;
  background: #2485d0;
  color: #f3f3f3;
  border-radius: 0;
  padding: 7px 0 7px;
  -webkit-box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
  -moz-box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
  box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
  z-index: 10;
  position: absolute;
  width: 100%;
  margin: 0;

  .fa {
    color: #f3f3f3;
  }
}

h1.title {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #f3f3f3;
  font-family: 'Source Sans Pro', sans-serif;
}

.submenu {
  margin-right: 30px;

  a {
    padding: 0 10px;
    margin-top: 5px;

    .fa {
      font-size: 20px;
    }
  }
  .dropdown-menu a {
    color: #545f69;

    .fa {
      font-size: 16px;
      color: #7c868e;
      margin-right: 5px;
    }
  }
}

.container-fluid {
  height: 45px;
  background: #ffffff;
  z-index: 20;
  display: table;
  width: 100%;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
}

.dashboard-content {
  padding-top: 35px;
}

.chart-container {
  .tab-pane p {
    padding-top: 15px;
  }
}

.date-pattern {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.language-locale,
.date-pattern {
  td {
    transition: all .2s;
    &:first-child {
      border-top: none;
    }
  }

  .active {
    background: #d1eaff !important;
    color: #2485d0;
  }
}

.language-locale {
  height: 237px;
}

.date-pattern {
  height: 217px;
}

.tables-container {
  .bs-callout {
    margin-bottom: 20px;
  }
}

.display-code {
  white-space: pre;
  overflow-y: scroll;
  padding: 15px;
}

.dashboard-content .chart-container .tab-pane {
  height: 698px;
}

.prism-window pre {
  margin-top: -75px;
  margin-bottom: -95px;
  border-left: 1px solid #cccccc !important;
  box-shadow: none !important;
  overflow: scroll;
}

.form-group label {
  font-weight: 400;
}

.custom-format,
.select-preset {
  .form-group {
    margin-top: 15px;
    margin-bottom: 0;
  }
}



