@media screen and (max-width: 768px) {
  .table-responsive {
    overflow: scroll !important;
  }
}

@media screen and (min-width: 768px) {
  .preview-container {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 992px) {
  .dashboard-content .chart-container .tab-pane {
    height: 450px;
  }
}